@font-face {
  font-family: StarJedi;
  src: url(../fonts/star_jedi/Starjedi.ttf);

}
.fa-solid{
  color: #2B1006;
}
.logo{
  font-family: StarJedi;
  font-size: 4rem;
  color: #413f3e;
}

.carousel-caption{
  background-color: rgba(0,0,0,0.5);
  border-radius: 30px;
}
