@font-face {
  font-family: Newsreader;
  src: url(../fonts/Newsreader/Newsreader-Italic-VariableFont_opsz\,wght.ttf);
}

.logo{
  font-family: Newsreader;
  font-size: 4rem;
  color: var(--bs-pink);
}

